In [5]:
## Importing the libraries

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import csv

In [6]:
sheetnames = ['aircraft', 'events','Findings','narratives']

In [7]:
filename = 'Summarized_NTSB_Data_v6.xlsx'

In [8]:
df_aircraft= pd.read_excel(filename, sheet_name = sheetnames[0])
df_events= pd.read_excel(filename, sheet_name = sheetnames[1])
df_Findings= pd.read_excel(filename, sheet_name = sheetnames[2])
df_narratives= pd.read_excel(filename, sheet_name = sheetnames[3])

The FAR PARTs and AIRCRAFT categories are filtered and stored in the AIRCRAFT sheet, while the YEARs are filtered and stored in the EVENTS sheet. Since the rows in the filtered AIRCRAFT sheet are fewer than of the filtered EVENTS sheet, I put the further base of filtering on the filtered AIRCRAFT sheet!

In [9]:
sheet=[df_aircraft,
       df_events,
       df_Findings,
       df_narratives]

In [10]:
sheet[0].columns

Index(['ev_id', 'Aircraft_Key', 'far_part', 'damage', 'acft_category'], dtype='object')

In [11]:
sheet[0][0:0]

Empty DataFrame
Columns: [ev_id, Aircraft_Key, far_part, damage, acft_category]
Index: []

In [12]:
### first column of the sheet number1 (seocnd sheet)

(sheet[0][sheet[0].columns[0]])

0        20080107X00026
1        20080107X00026
2        20080107X00027
3        20080109X00036
4        20080114X00044
              ...
15904    20220919105969
15905    20220923105991
15906    20220926106000
15907    20220928106010
15908    20220928106016
Name: ev_id, Length: 15909, dtype: object

In [13]:
# removing douplicate events in which more than one aircraft are involved:
ev_id_new1=[]
for itm in sheet[0][sheet[0].columns[0]]:
  if itm not in ev_id_new1:
    ev_id_new1.append(itm)

In [14]:
len(ev_id_new1)

15743

In [15]:
sheet[1].columns

Index(['ev_id', 'ev_type', 'ev_city', 'ev_state', 'ev_country', 'ev_year',
       'ev_month', 'apt_name', 'ev_nr_apt_id', 'apt_dist',
       'ev_highest_injury'],
      dtype='object')

In [16]:
sheet[1][sheet[1].columns[0]][0] #event ids from the EVENTS sheet

'20090101X22627'

In [17]:
ev_id_new2=[]
for itm in sheet[1][sheet[1].columns[0]]:
  if itm not in ev_id_new2:
    ev_id_new2.append(itm)

In [18]:
len(ev_id_new2)

22798

In [19]:
ev_id_new12=[] # it is the events which possess all the criteria! :) Of course, its length is smaller than all othe others!
for itm in (ev_id_new1):
  if itm in (ev_id_new2):
    ev_id_new12.append(itm)
len(ev_id_new1),len(ev_id_new2),len(ev_id_new12)

(15743, 22798, 14456)

In [20]:
aircraft_key_clmn=(sheet[0][sheet[0].columns[1]])
ev_id_aircraft=(sheet[0][sheet[0].columns[0]])
ev_id_new3=[]
for idx, itm in enumerate (aircraft_key_clmn):
  if (itm!=1):
    ev_id_new3.append(ev_id_aircraft[idx]) #The acicdents in which more than one aircraft is involved!!! [2,3,4...]

len(ev_id_new3)

196

In [21]:
ev_id_new=[]
for itm in ev_id_new12:
  if itm not in ev_id_new3:
    ev_id_new.append(itm)
# ev_id_new=ev_id_new-ev_id_new3

In [22]:
targets=['ev_id_new']

In [23]:
len(ev_id_new)

14282

In [24]:

damage_new=[]
damage_clmn=list(sheet[0][sheet[0].columns[3]])
aircraft_key_clmn=list(sheet[0][sheet[0].columns[1]])
ev_id_aircraft=list(sheet[0][sheet[0].columns[0]])

# for itm in enumerate (damage_clmn):
# damage_clmn.fillna(0)
k=0
for idx , itm in enumerate (damage_clmn):
  if ev_id_aircraft[idx] in ev_id_new:
    damage_new.append(itm)
    if aircraft_key_clmn[idx]!=1:
      print("Checking Point: Hey! Something is wrong in the filtering process!")
      k=k+1
if k==0: #Checking step...
  print("Checking Point: Good job with the filtering process till now! :)")
  # print((itm))
    # involve=aircraft_key_clmn[idx]
    # if (involve==1):
    #   damage_new.append(itm)
    #   num=num+1
    # elif(involve==2):
    #   damage_new[num-1].append(itm)
    # #   damage_new[idx-1].append(itm)
    # elif(involve==3):
    #   damage_new[num-1].append(itm)
    # else:
    #   print("Did you know we even have accidents with 4 and more aircraft involved?!")

Checking Point: Good job with the filtering process till now! :)

In [25]:
targets=targets+['damage_new']

An important here about the filtering process is that we cannot just filter those cases with aircraft_key=1; cause key=2,3... are coming after that sometimes!

In [26]:
damage_new[0]

'SUBS'

In [27]:
ev_id_new[0]

'20090101X22627'

In [28]:
evtype_new=[]
evtype_clmn=list(sheet[1][sheet[1].columns[1]])
ev_id_aircraft=list(sheet[1][sheet[1].columns[0]])

# for itm in enumerate (damage_clmn):
# damage_clmn.fillna(0)
for idx , itm in enumerate (evtype_clmn):
  if ev_id_aircraft[idx] in ev_id_new:
    evtype_new.append(itm)

In [29]:
targets+=['evtype_new']
targets

['ev_id_new', 'damage_new', 'evtype_new']

In [30]:
len(evtype_new)

14282

In [31]:
year_new=[]
year_clmn=list(sheet[1][sheet[1].columns[5]])
ev_id_aircraft=list(sheet[1][sheet[1].columns[0]])

# for itm in enumerate (damage_clmn):
# damage_clmn.fillna(0)
for idx , itm in enumerate (year_clmn):
  if ev_id_aircraft[idx] in ev_id_new:
    year_new.append(itm)

In [32]:
targets+=["year_new"]
targets

['ev_id_new', 'damage_new', 'evtype_new', 'year_new']

In [33]:
len(year_new)

14282

In [34]:


fatal_new=[]
ev_highest_injury_clmn=list(sheet[1][sheet[1].columns[-1]])
ev_id_aircraft=list(sheet[1][sheet[1].columns[0]])

# for itm in enumerate (damage_clmn):
# damage_clmn.fillna(0)
for idx , itm in enumerate (ev_highest_injury_clmn):
  if ev_id_aircraft[idx] in ev_id_new:
    fatal_new.append(itm)

In [35]:
targets+=['fatal_new']
targets

['ev_id_new', 'damage_new', 'evtype_new', 'year_new', 'fatal_new']

In [36]:
len(fatal_new)

14282

One important point that I learnt: I had no idea how much the preporcessing step would take time!

CONVERTING TO LIST!!!

In [37]:

finding_no_new=[]
finding_rnew=[] 
finding_no_clmn=list(sheet[2][sheet[2].columns[2]])
finding_description_clmn=list(sheet[2][sheet[2].columns[4]])
ev_id_aircraft=list(sheet[2][sheet[2].columns[0]])

i=0
j=0
k=0
evprobw2=[]
evprobw3=[]
evprobw4=[]
# for idx , itm in enumerate (finding_description_clmn):
#   if ev_id_aircraft[idx] in ev_id_new:
#     finding_new.append(itm)
#     finding_no_new.append(finding_no_clmn[idx])

print(len(finding_no_clmn),len(finding_description_clmn),len(ev_id_aircraft))

for idx , itm in enumerate (finding_no_clmn):
  if ev_id_aircraft[idx] in ev_id_new:

    if (itm==1):
      finding_rnew.append(finding_description_clmn[idx])
      finding_no_new.append(itm)
    elif (itm==2 & finding_no_clmn[idx-1]!=1):
      evprobw2.append(ev_id_aircraft[idx])
      i=i+1
    elif (itm==3 & finding_no_clmn[idx-1]!=2):
      evprobw3.append(ev_id_aircraft[idx])
      j=j+1
    elif (itm==4 & finding_no_clmn[idx-1]!=3):
      evprobw4.append(ev_id_aircraft[idx])
      k=k+1
if i>0:
  print("WHAT A MESS!!! We have",len(evprobw2),"cases in which numbers did begin from number 2 rather than 1!")
if j>0:
  print("WHAT A MESS!!! We have",len(evprobw3),"cases in which numbers did begin from number 3 rather than 1!")
if k>0:
  print(len(evprobw4),"more cases! JUST UNBELIEABLE!!! That's it... I cannot rely on this column; just consider a new approach!")
    # if (itm==2):
    #   finding_new[idx-1].extend(finding_description_clmn[idx])
    #   finding_no_new[idx-1].extend(itm)

58862 58862 58862
WHAT A MESS!!! We have 163 cases in which numbers did begin from number 2 rather than 1!
WHAT A MESS!!! We have 28 cases in which numbers did begin from number 3 rather than 1!
7 more cases! JUST UNBELIEABLE!!! That's it... I cannot rely on this column; just consider a new approach!

In [38]:
a=[['a'],['b'],['c'],['d']]
i=0
for  ind, itm in enumerate (a):
  print(itm)
  if itm==['b']:
    itm.extend(['k'])
  # else:
  #   a.append(i)
  #   print(i)
  #   i=i+1

a

['a']
['b']
['c']
['d']

[['a'], ['b', 'k'], ['c'], ['d']]

In [39]:

# finding_no_new=[]
finding_rpt=[] #having repetitive ev_id
ev_id_rpt=[] #having repetitive ev_id

# finding_no_clmn=list(sheet[2][sheet[2].columns[2]])
finding_description_clmn=list(sheet[2][sheet[2].columns[4]])
ev_id_aircraft=list(sheet[2][sheet[2].columns[0]])
print(len(finding_description_clmn),len(ev_id_aircraft))
# findings_total=0
# finding_new=finding_description_clmn

for idx , itm in enumerate(ev_id_aircraft):
  if itm  in ev_id_new:
    ev_id_rpt.append(itm) ### SO the repetitive list just contains those whuch are first filtered to be in our desired ev_ids, BUT NO! because it is updated. So , needed to be checked again!!!!

    # print(idx)
    finding_rpt.append(finding_description_clmn[idx])

58862 58862

In [40]:
len(ev_id_rpt),len(finding_rpt)

(40656, 40656)

In [41]:
finding_new=[]
ev_id_check=[]
for idx, itm in enumerate(ev_id_rpt):
  if (itm!=ev_id_rpt[idx-1]):
    ev_id_check.append(itm)
  # else:
  #   finding_new.extend(finding_rpt[idx])

In [42]:
len(ev_id_check)

13287

In [43]:
ev_id_error=[]
for idx, itm in enumerate (ev_id_new):
  if itm not in ev_id_check:
    ev_id_error.append(itm)

print("There are",len(ev_id_error),"accidents left withour any findings mentioned!")
print("By this, I do not mean their findings are NaN or Black etc., Their EVENT_IDs are not EVEN mentioned in the rows!!! I know... :|")

There are 995 accidents left withour any findings mentioned!
By this, I do not mean their findings are NaN or Black etc., Their EVENT_IDs are not EVEN mentioned in the rows!!! I know... :|

In [44]:
995+13287

14282

HERE, I found something really painful... Not all the accidents possess findings belong to them!

In [45]:
ev_id_error[4]

'20100428X55752'

In [46]:
targets

['ev_id_new', 'damage_new', 'evtype_new', 'year_new', 'fatal_new']

In [47]:
len(ev_id_new),len(damage_new),len(evtype_new),len(year_new),len(fatal_new)

(14282, 14282, 14282, 14282, 14282)

In [48]:
for idx, itm in enumerate (ev_id_new):
  if itm in ev_id_error:
    ev_id_new.remove(itm)
    damage_new.remove(damage_new[idx])
    evtype_new.remove(evtype_new[idx])
    year_new.remove(year_new[idx])
    fatal_new.remove(fatal_new[idx])

In [49]:
len(ev_id_error)

995

In [50]:
14282-995

13287

In [51]:
for idx, itm in enumerate (ev_id_new):
  if itm not in (ev_id_check):
    ev_id_new.remove(ev_id_new[idx])
    damage_new.remove(damage_new[idx])
    evtype_new.remove(evtype_new[idx])
    year_new.remove(year_new[idx])
    fatal_new.remove(fatal_new[idx])

In [52]:
len(ev_id_new),len(damage_new),len(evtype_new),len(year_new),len(fatal_new)

(13383, 13383, 13383, 13383, 13383)

In [53]:
for idx, itm in enumerate (ev_id_new):
  if itm not in (ev_id_rpt):
    ev_id_new.remove(ev_id_new[idx])
    damage_new.remove(damage_new[idx])
    evtype_new.remove(evtype_new[idx])
    year_new.remove(year_new[idx])
    fatal_new.remove(fatal_new[idx])

In [54]:
len(ev_id_new),len(damage_new),len(evtype_new),len(year_new),len(fatal_new)

(13311, 13311, 13311, 13311, 13311)

In [55]:
i=0
for idx, itm in enumerate (ev_id_rpt):
  if itm not in ev_id_new:
    print("NOT AGAIN!!!")
    i+=1
if (i==0):
  print("Great! It is checked! All the repetitive items in the list belong to the filtered list as well!")

Great! It is checked! All the repetitive items in the list belong to the filtered list as well!

In [56]:
i=0
for idx, itm in enumerate (ev_id_new):
  if itm not in (ev_id_rpt):
    print("NOT AGAIN!!!")
    i+=1
if (i==0):
  print("Great! It is checked! All the repetitive items in the list belong to the filtered list as well!")

NOT AGAIN!!!
NOT AGAIN!!!
NOT AGAIN!!!
NOT AGAIN!!!
NOT AGAIN!!!
NOT AGAIN!!!
NOT AGAIN!!!
NOT AGAIN!!!
NOT AGAIN!!!
NOT AGAIN!!!
NOT AGAIN!!!
NOT AGAIN!!!
NOT AGAIN!!!
NOT AGAIN!!!
NOT AGAIN!!!
NOT AGAIN!!!
NOT AGAIN!!!
NOT AGAIN!!!
NOT AGAIN!!!
NOT AGAIN!!!
NOT AGAIN!!!
NOT AGAIN!!!
NOT AGAIN!!!
NOT AGAIN!!!

In [57]:
i

24

In [58]:
for idx, itm in enumerate (ev_id_new):
  if itm not in (ev_id_rpt):
    ev_id_new.remove(ev_id_new[idx])
    damage_new.remove(damage_new[idx])
    evtype_new.remove(evtype_new[idx])
    year_new.remove(year_new[idx])
    fatal_new.remove(fatal_new[idx])

In [59]:
i=0
for idx, itm in enumerate (ev_id_new):
  if itm not in (ev_id_rpt):
    print("NOT AGAIN!!!")
    i+=1
if (i==0):
  print("Great! It is checked! All the repetitive items in the list belong to the filtered list as well!")

NOT AGAIN!!!
NOT AGAIN!!!
NOT AGAIN!!!
NOT AGAIN!!!
NOT AGAIN!!!
NOT AGAIN!!!
NOT AGAIN!!!

In [60]:
for idx, itm in enumerate (ev_id_new):
  if itm not in (ev_id_rpt):
    ev_id_new.remove(ev_id_new[idx])
    damage_new.remove(damage_new[idx])
    evtype_new.remove(evtype_new[idx])
    year_new.remove(year_new[idx])
    fatal_new.remove(fatal_new[idx])

In [61]:
i=0
for idx, itm in enumerate (ev_id_new):
  if itm not in (ev_id_rpt):
    print("NOT AGAIN!!!")
    i+=1
if (i==0):
  print("Great! It is checked! All the repetitive items in the list belong to the filtered list as well!")

NOT AGAIN!!!
NOT AGAIN!!!

In [62]:
for idx, itm in enumerate (ev_id_new):
  if itm not in (ev_id_rpt):
    ev_id_new.remove(ev_id_new[idx])
    damage_new.remove(damage_new[idx])
    evtype_new.remove(evtype_new[idx])
    year_new.remove(year_new[idx])
    fatal_new.remove(fatal_new[idx])

In [63]:
i=0
for idx, itm in enumerate (ev_id_new):
  if itm not in (ev_id_rpt):
    print("NOT AGAIN!!!")
    i+=1
if (i==0):
  print("Great! It is checked! All the repetitive items in the list belong to the filtered list as well!")

Great! It is checked! All the repetitive items in the list belong to the filtered list as well!

**dasture REMOVE ro dobare check kon! chizaye ajibi dasht vaghean! :)**

In [64]:
len(ev_id_check)

13287

In [65]:
len(ev_id_rpt),len(ev_id_new)

(40656, 13287)

In [66]:
len(finding_rpt)

40656

In [67]:
finding_new=[]
counter=-1
number_of_findings=[]
kk=0
for idx, itm in enumerate (ev_id_rpt):
  inter=[finding_rpt[idx]]
  if (itm!=ev_id_rpt[idx-1]):
    kk=0
    inter=[finding_rpt[idx]]
    finding_new.append(inter)
    con=[0]
    number_of_findings.append(con)
    counter+=1 #so starts from zero! :) 
  else:
    kk+=1
    con=[kk]
    finding_new[counter].extend(inter)
    number_of_findings[counter].extend(con)

In [68]:
targets+=['finding_new']
targets

['ev_id_new',
 'damage_new',
 'evtype_new',
 'year_new',
 'fatal_new',
 'finding_new']

In [69]:
len(finding_new),len(number_of_findings),

(13287, 13287)

In [70]:
ev_id_new[2]

'20090103X05930'

In [71]:
number_of_findings[10]

[0, 1, 2]

In [72]:
print(finding_new[10])
print(ev_id_new[10])

['Personnel issues-Task performance-Planning/preparation-Fuel planning-Pilot - C', 'Personnel issues-Action/decision-Info processing/decision-Decision making/judgment-Pilot ', 'Environmental issues-Conditions/weather/phenomena-Ceiling/visibility/precip-Low ceiling-Contributed to outcome ']
20090106X42651

In [73]:
len(ev_id_new),len(damage_new),len(evtype_new),len(year_new),len(fatal_new),len(finding_new),len(number_of_findings),len(finding_new),len(number_of_findings)

(13287, 13287, 13287, 13287, 13287, 13287, 13287, 13287, 13287)

A TRIUMPH!

In [74]:
# number_of_findings
number_of_findings[0]
len(number_of_findings[0])
total_findings=[]
for itm in number_of_findings:
  tfno=len(itm)
  total_findings.append(tfno)

In [75]:
len(total_findings)
targets+=['total_findings']
targets

['ev_id_new',
 'damage_new',
 'evtype_new',
 'year_new',
 'fatal_new',
 'finding_new',
 'total_findings']

In [76]:
a=[1,2,3]
b=[a[1]]
[[b]]
d=[]
for idx , itm in enumerate(a):
  if itm>1:
    c=[itm]
    d+=[c]
d

[[2], [3]]

In [77]:
len(finding_new)

13287

In [79]:
len(ev_id_new),len(damage_new),len(evtype_new),len(year_new),len(fatal_new),len(finding_new),len(number_of_findings),len(finding_new),len(number_of_findings)

(13287, 13287, 13287, 13287, 13287, 13287, 13287, 13287, 13287)

In [80]:
a=[0,1,2,3]
a[1:3]

[1, 2]

In [81]:
# all_narratives_new=[]
pnar_new=[] #preliminary
fnar_new=[] #factual
cnar_new=[] #cause
ev_id_nar_rep=[]

narratives_p=list(sheet[3][sheet[3].columns[2]])
narratives_f=list(sheet[3][sheet[3].columns[3]])
narratives_c=list(sheet[3][sheet[3].columns[4]])
ev_id_narratives=list(sheet[3][sheet[3].columns[0]])

# for itm in enumerate (damage_clmn):
# damage_clmn.fillna(0)


# #############
for idx , itm in enumerate (ev_id_narratives):
  if itm in ev_id_new:
    pnar_new.append(narratives_p[idx])
    fnar_new.append(narratives_f[idx])
    cnar_new.append(narratives_c[idx])
    ev_id_nar_rep.append(itm)
#     all_narratives_new.append(itm)



#     finding_new=[]
# counter=-1
# number_of_findings=[]
# kk=0
# for idx, itm in enumerate (ev_id_rpt):
#   inter=[finding_rpt[idx]]
#   if (itm!=ev_id_rpt[idx-1]):
#     kk=0
#     inter=[finding_rpt[idx]]
#     finding_new.append(inter)
#     con=[0]
#     number_of_findings.append(con)
#     counter+=1 #so starts from zero! :) 
#   else:
#     kk+=1
#     con=[kk]
#     finding_new[counter].extend(inter)
#     number_of_findings[counter].extend(con)

In [82]:
i=0
for itm in ev_id_new:
  if itm not in ev_id_nar_rep:
    i=i+1
if i>0:
  print("AGAIN!",i,"cases in trouble!")
# else:
#   print("Everything is checked again! no problem in filtering till now! :)")

In [83]:
len(ev_id_nar_rep),len(ev_id_new),len(ev_id_narratives)

(13305, 13287, 23867)

In [84]:
i=0
for itm in ev_id_new:
  if itm not in ev_id_narratives:
    i=i+1
if i>0:
  print("AGAIN!",i,"cases in trouble!")
# else:
  #print("Everything is checked again! no problem in filtering till now! :)")

In [85]:
if (ev_id_nar_rep[72])  in ev_id_new:
  print("you re right!")

for idx, itm in enumerate (ev_id_new):
  if itm==ev_id_nar_rep[72]:
    print(idx)

you re right!
71

In [86]:
i=0
for idx, item in enumerate (ev_id_nar_rep):
  if (item!=(ev_id_new[idx])):
    print(idx)
    break
    print("")
    print("h!")
    i=i+1
if i>0:
  print("AGAIN!",i,"cases in trouble!")
# else:
  #print("Everything is checked again! no problem in filtering till now! :)")

72

In [87]:
len(ev_id_nar_rep),len(ev_id_new),len(ev_id_narratives)

(13305, 13287, 23867)

In [88]:
len(pnar_new)

13305

In [89]:

for itm in (ev_id_new):
  if itm not in (ev_id_nar_rep):
    print(itm)

In [90]:
for itm in (ev_id_nar_rep):
  if itm not in (ev_id_new):
    print(itm)

In [91]:
ev_id_nar_clean=[]
id_problem=[]
for itm in ev_id_nar_rep:
  if itm not in ev_id_nar_clean:
    ev_id_nar_clean.append(itm) #cleaning repeated ids
  else:
    print(itm) #to recognize repeated, more than one A/C involved accidents and errors of the reports!
    id_problem.append(itm)

20090202X21409
20090808X42846
20100704X92306
20110102X35752
20110330X05145
20110711X41528
20110830X71207
20111209X35527
20141021X94521
20141023X01333
20141121X15631
20150129X05038
20150707X22207
20160413X30204
20160718X62313
20180614X22730
20200713X65734
20211018104116

In [92]:
for itm in id_problem:
  ev_id_nar_clean.remove(itm) # this gives up the only one A/C involved accidents

In [93]:
while (len(ev_id_nar_rep)>len(ev_id_nar_clean)):
  for idx, itm in enumerate(ev_id_nar_rep):
    if itm in id_problem:
      ev_id_nar_rep.remove(itm)
      pnar_new.remove(pnar_new[idx])
      fnar_new.remove(fnar_new[idx])
      cnar_new.remove(cnar_new[idx])

In [94]:
# targets+=['pnar_new,fnar_new,cnar_new']

In [95]:
len(ev_id_nar_rep),len(ev_id_nar_clean)

(13269, 13269)

In [96]:
for idx, itm in enumerate(ev_id_nar_clean):
    if itm in id_problem:
      print(itm)

In [97]:
print("I FOUND ANOTHER THING!!! THERE ARE CASES that stated are about one aircraft, while on the finding and narrative sheet, I find two aircrafts involved!!!!")

I FOUND ANOTHER THING!!! THERE ARE CASES that stated are about one aircraft, while on the finding and narrative sheet, I find two aircrafts involved!!!!

**I FOUND ANOTHER THING!!! THERE ARE CASES that stated are about one aircraft, while on the finding and narrative sheet, I find two aircrafts involved!!!! So, this not complete information here resulted in WRONG information!**

In [98]:
len(id_problem)

18

In [99]:
ev_id_nar_clean[72]

'20090203X42525'

In [100]:
ev_id_new[71]

'20090202X21409'

In [101]:
len(ev_id_new)

13287

In [102]:
for idx, itm in enumerate(ev_id_nar_clean):
    if itm not in ev_id_new:
      print(itm)

In [103]:
for idx, itm in enumerate(ev_id_new):
    if itm not in ev_id_nar_clean:
      print(itm)

20090202X21409
20090808X42846
20100704X92306
20110102X35752
20110330X05145
20110711X41528
20110830X71207
20111209X35527
20141021X94521
20141023X01333
20141121X15631
20150129X05038
20150707X22207
20160413X30204
20160718X62313
20180614X22730
20200713X65734
20211018104116

In [104]:
len(ev_id_new),len(damage_new),len(evtype_new),len(year_new),len(fatal_new),len(finding_new),len(number_of_findings)

(13287, 13287, 13287, 13287, 13287, 13287, 13287)

In [105]:
len(finding_new[0])

4

In [106]:
len(finding_new)

13287

In [107]:
for idx, itm in enumerate(ev_id_new):
    if itm in id_problem:
      print(itm)

20090202X21409
20090808X42846
20100704X92306
20110102X35752
20110330X05145
20110711X41528
20110830X71207
20111209X35527
20141021X94521
20141023X01333
20141121X15631
20150129X05038
20150707X22207
20160413X30204
20160718X62313
20180614X22730
20200713X65734
20211018104116

In [108]:
targets
len(ev_id_new),len(damage_new),len(evtype_new),len(year_new),len(fatal_new),len(finding_new),len(number_of_findings),len(pnar_new),len(fnar_new),len(cnar_new)

(13287, 13287, 13287, 13287, 13287, 13287, 13287, 13269, 13269, 13269)

In [109]:
targets+=["pnar_new",'fnar_new','cnar_new']

In [110]:
(targets)

['ev_id_new',
 'damage_new',
 'evtype_new',
 'year_new',
 'fatal_new',
 'finding_new',
 'total_findings',
 'pnar_new',
 'fnar_new',
 'cnar_new']

In [111]:
targets

['ev_id_new',
 'damage_new',
 'evtype_new',
 'year_new',
 'fatal_new',
 'finding_new',
 'total_findings',
 'pnar_new',
 'fnar_new',
 'cnar_new']

In [112]:
features=[ev_id_new,damage_new,evtype_new,year_new,fatal_new,finding_new,total_findings,pnar_new,fnar_new,cnar_new]

In [113]:
len(features)

10

In [114]:
for idx , itm in enumerate (features):
  print(len(features[idx]),idx)

13287 0
13287 1
13287 2
13287 3
13287 4
13287 5
13287 6
13269 7
13269 8
13269 9

In [115]:
len(ev_id_nar_clean)

13269

In [116]:
# len(ev_id_nar_clean)
for idx, itm in enumerate (ev_id_new):
  if itm not in ev_id_nar_clean:
    ev_id_new.remove(itm)
    damage_new.remove(damage_new[idx])
    evtype_new.remove(evtype_new[idx])
    year_new.remove(year_new[idx])
    fatal_new.remove(fatal_new[idx])
    finding_new.remove(finding_new[idx])
    total_findings.remove(total_findings[idx])

In [117]:
features=[ev_id_new,damage_new,evtype_new,year_new,fatal_new,finding_new,total_findings,pnar_new,fnar_new,cnar_new]
# features
# targets
# len(int(targets[0]))

In [118]:
for idx , itm in enumerate (features):
  print(len(features[idx]),idx)

13269 0
13269 1
13269 2
13269 3
13269 4
13269 5
13269 6
13269 7
13269 8
13269 9

In [119]:
# features
matrix = np.array(features)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

In [120]:
type(matrix)

numpy.ndarray

In [121]:
matrix=np.transpose(matrix)

In [122]:
len(matrix)

13269

In [123]:
matrix.shape

(13269, 10)

In [125]:
# arr = matrix
print("Numpy array:")
print(matrix)
  
# convert numpy array to dataframe
table = pd.DataFrame(matrix, columns =targets)
print("\nPandas DataFrame: ")
table

Numpy array:
[['20090101X22627' 'MINR' 'INC' ...
  'The student pilot was conducting his first solo flight and had performed two uneventful stop-and-go landings. As the airplane accelerated during the third takeoff, it began to veer to the left. The student pilot applied right rudder; however, the airplane'
  'The student pilot was conducting his first solo flight and had performed two uneventful stop-and-go landings. As the airplane accelerated during the third takeoff, it began to veer to the left. The student pilot applied right rudder; however, the airplane'
  "The student pilot's failure to maintain directional control during takeoff. Contributing to the accident was the student pilot's lack of solo flight experience and the snow bank located off the left side of the runway."]
 ['20090102X02015' nan 'INC' ...
  'HISTORY OF FLIGHT\nOn January 1, 2009, at 2048 central standard time, a Lancair 360, N3603R, impacted the terrain following a loss of control while taking off on runway 12 (2,937 feet by 100 feet, dry asphalt) at the Joliet Regional Airport (JOT), Joliet, '
  'The pilot landed with 4 to 5 gallons of fuel on board following a 4.5-hour cross-country flight.  After landing, the pilot made numerous attempts to locate fuel in order to continue the flight so that his passenger could be at work in the morning. The pil'
  'The pilot’s failure to maintain adequate flying speed during the night takeoff for undetermined reasons, which resulted in an inadvertent aerodynamic stall and subsequent loss of control']
 ['20090103X05930' 'MINR' 'INC' ...
  'HISTORY OF FLIGHT\n\nOn January 3, 2009, about 1445 Pacific standard time, an experimental PZL, PZL-104-35A, Wilga, N226PF, impacted trees following a loss of engine power in Redwood Regional Park, Oakland, California.  The owner/pilot was operating the air'
  'The pilot reported that during a local personal flight, the engine lost power as a result of fuel exhaustion.  During the forced landing, he maneuvered to avoid power lines and subsequently impacted trees.  The pilot related that he thought he had enough '
  'A loss of engine power due to fuel exhaustion as a result of the pilot’s inadequate preflight planning.']
 ...
 ['20220824105788' 'SUBS' 'ACC' ... nan
  'The student pilot reported that the flight instructor was attempting to demonstrate a soft-field takeoff with 10° of flaps after having completed a short field landing. The flight instructor had the student pilot “follow along on the controls” during the '
  'The flight instructor’s failure to maintain adequate airspeed during the demonstrated soft-field takeoff, which led to the airplane exceeding its critical angle-of-attack and experiencing an aerodynamic stall. \n']
 ['20220825105796' 'UNK' 'ACC' ... nan
  'The pilot reported that, just after take-off and while conducting the after-take-off checklist, the airplane drifted to the right and the right wing struck in a corn field. The airplane subsequently nosed over and came to rest inverted. The airplane susta'
  'The pilot’s failure to maintain directional control during take-off, which resulted in a collision with crop and terrain.\n']
 ['20220907105880' 'SUBS' 'ACC' ... nan
  'The pilot of the tailwheel-equipped airplane was practicing takeoffs and landings on a turf runway. While on his third landing of the day he touched down and the airplane suddenly started to move to the left.  He applied right rudder but the airplane did '
  'The pilot’s failure to maintain directional control during landing.\n']]

Pandas DataFrame:

,ev_id_new,damage_new,evtype_new,year_new,fatal_new,finding_new,total_findings,pnar_new,fnar_new,cnar_new
0,20090101X22627,MINR,INC,2009,NONE,[Aircraft-Aircraft oper/perf/capability-Perfor...,3,The student pilot was conducting his first sol...,The student pilot was conducting his first sol...,The student pilot's failure to maintain direct...
1,20090102X02015,NaN,INC,2009,NONE,[Personnel issues-Task performance-Use of equi...,2,"HISTORY OF FLIGHT\nOn January 1, 2009, at 2048...",The pilot landed with 4 to 5 gallons of fuel o...,The pilot’s failure to maintain adequate flyin...
2,20090103X05930,MINR,INC,2009,NONE,[Personnel issues-Task performance-Planning/pr...,3,"HISTORY OF FLIGHT\n\nOn January 3, 2009, about...",The pilot reported that during a local persona...,A loss of engine power due to fuel exhaustion ...
3,20090103X62819,MINR,INC,2009,NONE,[Personnel issues-Task performance-Use of equi...,3,"HISTORY OF FLIGHT\n\nOn January 3, 2009, appro...",After leading a three-ship formation to the de...,The pilot's failure to maintain adequate airsp...
4,20090103X93911,MINR,INC,2009,NONE,[Environmental issues-Conditions/weather/pheno...,3,"HISTORY OF FLIGHT\n\nOn January 3, 2009, about...",After departing the traffic pattern and turnin...,The non-instrument rated pilot's decision to c...
...,...,...,...,...,...,...,...,...,...,...
13264,20220811105717,SUBS,ACC,2022,NONE,[Environmental issues-Conditions/weather/pheno...,3,NaN,"The pilot reported that, while turning the air...",The pilot’s inadequate compensation for gustin...
13265,20220816105746,SUBS,ACC,2022,NONE,[Personnel issues-Task performance-Use of equi...,3,NaN,The flight instructor and airline transport pi...,The pilot’s failure to maintain directional co...
13266,20220824105788,SUBS,ACC,2022,NONE,[Aircraft-Aircraft oper/perf/capability-Perfor...,5,NaN,The student pilot reported that the flight ins...,The flight instructor’s failure to maintain ad...
13267,20220825105796,UNK,ACC,2022,NONE,[Aircraft-Aircraft oper/perf/capability-Perfor...,1,NaN,"The pilot reported that, just after take-off a...",The pilot’s failure to maintain directional co...
13268,20220907105880,SUBS,ACC,2022,NONE,[Aircraft-Aircraft oper/perf/capability-Perfor...,2,NaN,The pilot of the tailwheel-equipped airplane w...,The pilot’s failure to maintain directional co...

In [126]:
table.columns

Index(['ev_id_new', 'damage_new', 'evtype_new', 'year_new', 'fatal_new',
       'finding_new', 'total_findings', 'pnar_new', 'fnar_new', 'cnar_new'],
      dtype='object')

In [127]:
len(table.columns)

10

In [128]:
# saving the dataframe
table.to_csv('Clear_NTSB.csv')